{% extends "layout" %}

{% block content %}
<!--<h1>{{name}}</h1>-->

<div class="row">
{% for category in categories %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ category.name }}</div>

      <!-- List group -->
      <div class="panel-body" style="min-height:150px; max-height:150px; owerflow-y:scorll;">
        <!--<ul class="list-group">-->
          {% for recipe in category.topRecipes %}
          <!--<li class="list-group-item">-->
            <li style="list-style:none;"><a href="/recipe/{{recipe.id}}">{{ recipe.name }}</a></li>
          {% endfor %}
        <!--</ul>-->
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}